html{
    font-size: 13.33333333333333vw;
}
body{
    font-size:12px;
}
html,div,body,a,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#222;
}
ul,ol{
    list-style-type:none;
    margin: 0;
    padding: 0;
}